[submodule "third_party/benchmark"]
	path = third_party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third_party/sgp4"]
	path = third_party/sgp4
	url = https://github.com/dnwrnr/sgp4.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "third_party/simdjson"]
	path = third_party/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "third_party/curlpp"]
	path = third_party/curlpp
	url = https://github.com/jpbarrette/curlpp.git
